:root {
  --ancho-contenido-laptop: 50vw;
  --ancho-menos-margen-laptop: 48vw;
  --ancho-contenido-ipad: 80vw;
  --ancho-menos-margen-ipad: 78vw;
}

body {
  background-color: white;
} 

h1 {
	margin-top: 10vh;
}

img {
	width: var(--ancho-menos-margen-laptop);
}

.wrapper {
	width: var(--ancho-contenido-laptop);
	margin: 0 auto;
	display: grid;
	background-color: white;
	font-family: 'Lato', sans-serif;
}

.MainTitle {
	font-family: 'Poppins', sans-serif;
	font-size: 3.2vw;
	font-weight: bold;
	margin: auto auto auto 0;
	padding: 3vh 0 3vh 0;
	width: var(--ancho-contenido-laptop);
	text-align: center;
	background-color: white;
	color: #363636;
}

.SecondTitle {
	font-family: 'Noto Sans', sans-serif;
	font-size: 17px;
	font-weight: normal;
	margin: auto auto auto 0;
	padding: 0vh 0 4vh 0;
	width: var(--ancho-contenido-laptop);
	text-align: center;
	background-color: white;
	color: #363636;
}

div.Sections {
	font-family: 'Noto Sans', sans-serif;
	font-weight: normal;
	font-size: 22px;
	text-align: left;
 	top: 0;
 	z-index: 99;
 	width: var(--ancho-contenido-laptop);
}

.Content {
	margin-bottom: 3vh;
	padding: 0vh 1vw 6vh 1vw;
	width: var(--ancho-menos-margen-laptop);
}

.coolbutton {
	width: var(--ancho-contenido-laptop);
	background-color: #363636;
	border: 0px;
	padding: 1.5vh 0 1.5vh 1vw;
	margin-bottom: 2px;
	color: white;
	text-align: left;
	font-size: 20px;
}

.coolbutton:hover {
	background-color: #505050;
	cursor: pointer;
}

.coolbutton.focus, .coolbutton:focus {
    outline: 0;
    box-shadow: none!important;
}

#plusE {
	float: right;
	margin-right: 1vw;
}

#plusN {
	float: right;
	margin-right: 1vw;
}

#plusP {
	float: right;
	margin-right: 1vw;
}

#ImpuestosEmpresas {
	display: none;
}

#ImpuestosPersonasRicas {
	display: none;
}

#ImpuestosPersonasNormales {
	display: none;
}

.Footer {
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	padding: 2vh 0;
	width: var(--ancho-contenido-laptop);
}



@media (max-width:1060px) {
	img {
	width: var(--ancho-menos-margen-ipad);
	}

	.wrapper {
	width: var(--ancho-contenido-ipad);
	}
	div.Sections {
 	width: var(--ancho-contenido-ipad);
	}

	.Content {
	width: var(--ancho-menos-margen-ipad);
	}
	.Footer {
	width: var(--ancho-contenido-ipad);
	}

	.coolbutton {
	width: var(--ancho-contenido-ipad);
	}

	.MainTitle {
	width: var(--ancho-contenido-ipad);
	}

	.SecondTitle {
	width: var(--ancho-contenido-ipad);
	}

}
