:root {
  --ancho-contenido-laptop: 50vw;
  --ancho-menos-margen-laptop: 48vw;
  --ancho-contenido-ipad: 80vw;
  --ancho-menos-margen-ipad: 78vw;
}

body {
  background-color: white;
}

h1 {
	margin-top: 3vh;
	margin-bottom: 7vh;
  font-weight: normal;
}

p {
	font-size: 20px;
}

a {
	font-size: 20px;
}

i {
  font-weight: bold;
  font-size: 16px;
}

i.Parentesis {
  font-size: 23px;
}

img {
	width: var(--ancho-menos-margen-laptop);
  margin-top: 15vh;
}

.wrapper {
	width: var(--ancho-contenido-laptop);
	margin: 0 auto;
	display: grid;
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

.MainTitle {
	font-family: 'Open Sans', sans-serif;
	font-size: 70px;
	font-weight: bold;
	margin: auto auto auto 0;
	padding: 3vh 0 3vh 0;
	width: var(--ancho-contenido-laptop);
	text-align: center;
	background-color: white;
	color: #363636;
}

.SecondTitle {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 5vh auto 5vh 0;
	padding: 0vh 0 4vh 0;
	width: var(--ancho-contenido-laptop);
	text-align: center;
	background-color: white;
	color: #363636;
}

div.Sections {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-align: left;
 	top: 0;
 	z-index: 99;
 	width: var(--ancho-contenido-laptop);
}

.Content {
	margin-bottom: 3vh;
	padding: 0vh 1vw 6vh 1vw;
	width: var(--ancho-menos-margen-laptop);
}

.coolbutton {
	width: var(--ancho-contenido-laptop);
	background-color: #363636;
	border: 0px;
	padding: 2.5vh 0 2.5vh 1vw;
	margin-bottom: 2px;
	color: white;
	text-align: left;
	font-size: 20px;
}

.coolbutton:hover {
	background-color: #505050;
	cursor: pointer;
}

.coolbutton.focus, .coolbutton:focus {
    outline: 0;
    box-shadow: none!important;
}

#plusE {
	float: right;
	margin-right: 1vw;
}

#plusN {
	float: right;
	margin-right: 1vw;
}

#plusP {
	float: right;
	margin-right: 1vw;
}

#plusS {
	float: right;
	margin-right: 1vw;
}

#ImpuestosEmpresas {
	display: none;
}

#ImpuestosPersonasRicas {
	display: none;
}

#ImpuestosPersonasNormales {
	display: none;
}

#ImpuestosSeguridad {
	display: none;
}

.Footer {
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	padding: 2vh 0;
	width: var(--ancho-contenido-laptop);
  margin-top: 5vh;
}



@media (max-width:1060px) {
	img {
	width: var(--ancho-menos-margen-ipad);
	}

	.wrapper {
	width: var(--ancho-contenido-ipad);
	}
	div.Sections {
 	width: var(--ancho-contenido-ipad);
	}

	.Content {
	width: var(--ancho-menos-margen-ipad);
	}
	.Footer {
	width: var(--ancho-contenido-ipad);
	}

	.coolbutton {
	width: var(--ancho-contenido-ipad);
	}

	.MainTitle {
	width: var(--ancho-contenido-ipad);
	}

	.SecondTitle {
	width: var(--ancho-contenido-ipad);
	}

}
